Задание 1.

Дан список с визитами по городам и странам. Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России. Считайте, что список geo_logs легко помещается в оперативной памяти.

In [123]:
geo_logs = [
['visit1', ['Москва', 'Россия']],
['visit2', ['Дели', 'Индия']],
['visit3', ['Владимир', 'Россия']],
['visit4', ['Лиссабон', 'Португалия']],
['visit5', ['Париж', 'Франция']],
['visit6', ['Лиссабон', 'Португалия']],
['visit7', ['Тула', 'Россия']],
['visit8', ['Тула', 'Россия']],
['visit9', ['Курск', 'Россия']],
['visit10', ['Архангельск', 'Россия']],
]

In [128]:
russia_visits = []

for i in list(range(0,len(geo_logs))):
    element = i

    if geo_logs[element][1][1] == 'Россия':
        russia_visits.append(geo_logs[element])
    
russia_visits

[['visit1', ['Москва', 'Россия']],
 ['visit3', ['Владимир', 'Россия']],
 ['visit7', ['Тула', 'Россия']],
 ['visit8', ['Тула', 'Россия']],
 ['visit9', ['Курск', 'Россия']],
 ['visit10', ['Архангельск', 'Россия']]]

Задание 2.

Выведите на экран все уникальные гео-ID из списка координат ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

In [137]:
ids = [['user1', [213, 213, 213, 15, 213]], ['user2', [54, 54, 119, 119, 119]], ['user3', [213, 98, 98, 35]]]
ids

[['user1', [213, 213, 213, 15, 213]],
 ['user2', [54, 54, 119, 119, 119]],
 ['user3', [213, 98, 98, 35]]]

In [138]:
from itertools import chain
unique_list = []

for i in list(range(0,len(ids))):
    element = i
    unique_list.append(ids[i][1])

list(set(list(chain.from_iterable(unique_list))))

[98, 35, 15, 213, 54, 119]

Задание 3.

Список поисковых запросов. 
Получить распределение количества слов в них. 
Т. е. поисковых запросов из одного слова 5%, из двух - 7%, из трех - 3% итд.

In [122]:
queries = [
'смотреть сериалы онлайн',
'новости спорта',
'афиша кино',
'курс доллара',
'сериалы этим летом',
'курс по питону',
'сериалы про спорт',
]

In [123]:
words = []

for i in list(range(0,len(queries))):
    element = i
    words.append(len(queries[element].split()))
    
    counts = {}
    for num in words:
        counts[num] = (counts[num] + 1) if (num in counts) else 1

my_keys = [str(i).zfill(1) for i in mylist]
my_updated_keys = [number + ' words' for number in my_keys]

my_values = ['{:.1%}'.format(j / len(queries)) for j in list(counts.values())]

my_dict = dict(zip(my_updated_keys, my_values))
my_dict

{'3 words': '57.1%', '2 words': '42.9%'}

Задание 4 (бонусное).

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей. Учтите, что весь список stream не помещается в оперативную память, т. е. его нужно обрабатывать поэлементно в цикле.

In [53]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

In [54]:
new_stream = []

for i in list(range(0,len(stream))):
    element = i
    new_stream.append([x.strip() for x in stream[element].split(',')])

new_stream

[['2018-01-01', 'user1', '3'],
 ['2018-01-07', 'user1', '4'],
 ['2018-03-29', 'user1', '1'],
 ['2018-04-04', 'user1', '13'],
 ['2018-01-05', 'user2', '7'],
 ['2018-06-14', 'user3', '4'],
 ['2018-07-02', 'user3', '10'],
 ['2018-03-21', 'user4', '19'],
 ['2018-03-22', 'user4', '4'],
 ['2018-04-22', 'user4', '8'],
 ['2018-05-03', 'user4', '9'],
 ['2018-05-11', 'user4', '11']]

In [55]:
for i in list(range(0,len(new_stream))):
    element = i
    new_stream[i][2] = int(new_stream[i][2])

new_stream

[['2018-01-01', 'user1', 3],
 ['2018-01-07', 'user1', 4],
 ['2018-03-29', 'user1', 1],
 ['2018-04-04', 'user1', 13],
 ['2018-01-05', 'user2', 7],
 ['2018-06-14', 'user3', 4],
 ['2018-07-02', 'user3', 10],
 ['2018-03-21', 'user4', 19],
 ['2018-03-22', 'user4', 4],
 ['2018-04-22', 'user4', 8],
 ['2018-05-03', 'user4', 9],
 ['2018-05-11', 'user4', 11]]

In [56]:
users = []

for i in list(range(0,len(new_stream))):
    element = i
    users.append(new_stream[i][1])

users = list(set(users))
users

['user1', 'user2', 'user3', 'user4']

In [86]:
# не смог решить

for i in list(range(0,len(new_stream))):
    element = i
    for user in users:
        if user == new_stream[i][1] == 'user1':
            print(new_stream[i][2])
        else:
            pass

3
4
1
13

In [85]:
# финальная стадия, к чему надо было придти из промежуточного решения в прошлом пункте

import pandas as pd

users
user_sum = [21,7,14,51]
user_count = [4,1,2,5]

df = pd.DataFrame(list(zip(users, user_sum, user_count)), columns = ['users', 'sum', 'count'])
df['avg'] = df['sum'] / df['count']
df

   users  sum  count    avg
0  user1   21      4   5.25
1  user2    7      1   7.00
2  user3   14      2   7.00
3  user4   51      5  10.20