# Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

1. если источник traffic_source равен yandex или google, то в source_type ставится organic
2. для источников paid и email из России - ставим ad
3. для источников paid и email не из России - ставим other
4. все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd

In [12]:
logs = pd.read_csv('Desktop/visit_log.csv', sep = ';')
logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [14]:
# 1-ый пункт задания
logs.loc[(logs.traffic_source == 'yandex') | (logs.traffic_source == 'google'), 'source_type'] = 'organic'
logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [25]:
# 2-ой пункт задания
logs.loc[((logs.traffic_source == 'paid') | (logs.traffic_source == 'email')) & (logs.region == 'Russia'), 'source_type'] = 'ad'
logs[logs.traffic_source == 'paid'].head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,NaN
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,NaN
26,1549980852,659d36ca56,https://host.ru/4adc8a29b212051b04,Russia,c4bd1ae3af,paid,ad

In [27]:
# 3-ий пункт задания
logs.loc[((logs.traffic_source == 'paid') | (logs.traffic_source == 'email')) & (logs.region != 'Russia'), 'source_type'] = 'other'
logs[logs.traffic_source == 'email'].head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
20,1549980816,de47c9b27e,https://host.ru/8fe7c39e5c598bbc54,Ukraine,2f25b6e26a,email,other
23,1549980839,015275e61f,https://host.ru/c8d9213a31839f9a3a,Russia,21bdc57777,email,ad
27,1549980853,ea49aa9f6f,https://host.ru/1afc5618562365020a,Russia,20e8e91ecf,email,ad
33,1549980897,7f9c9e31ac,https://host.ru/ac2d98a5a63e7c6e28,Belarus,38f45e7f9b,email,other

In [34]:
# 4-ый пункт задания
logs['source_type'] = logs['source_type'].fillna(logs['traffic_source'])
logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

# Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [119]:
import re
import numpy as np

In [120]:
urls = pd.read_csv('Desktop/URLs.txt')
urls.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [121]:
define_news = urls['url'].str.contains('/\d+-', regex = True)

urls['news'] = np.where(define_news, define_news == True, urls['url'])

In [123]:
news = urls[urls['news'] == True]
news.head(10)

                                                  url  news
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...  True
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...  True
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...  True
6   /video/36001498-poyavilis-pervye-podrobnosti-g...  True
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...  True
10  /middleeast/36131117-divizion-s-400-ne-zametil...  True
11  /economics/36065674-rossiyane-vozmutilis-minim...  True
12  /politics/36118047-otets-24-detey-potreboval-i...  True
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...  True
14  /politics/35638742-nesolidno-mariya-zaharova-s...  True

# Задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [3]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [39]:
from pymystem3 import Mystem

In [58]:
m = Mystem()
lemmas_list = []

for search in data['keyword']:
    lemmas = m.lemmatize(search)
    lemmas = ' '.join(lemmas)
    lemmas_list.append(str(lemmas))

In [59]:
lemmas_list

['курс   гривна   к   рубль \n',
 'доллар   в   рубль \n',
 '100   доллар   в   рубль \n',
 'курс   рубль \n']

In [60]:
data['lemmas'] = lemmas_list

In [62]:
data

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n